extends layout

block content
	#home
		.container
			.col-sm-6
				h1= title
				h1 Welcome to #{title}
				hr
				ul
					li Time Tracking
					li Employee Schedule
					li Payroll Reporting
				if user
					h3 Welcome #{user.name}
					if user.admin=="admin"
						a.btn1(href='/admin') #{user.company}
					else
						a.btn1(href='/users/'+user._id) #{user.name}
			if !user
				.col-sm-5.col-sm-offset-1.box2(style="padding-top:25px;")
					h1 Login to continue
					hr
					form.form-horizontal(method="POST" action="/login")
						.form-group
							.col-sm-6.col-sm-offset-3
								input.form-control(name="username" ,type="text" ,placeholder="ID" required)
						.form-group
							.col-sm-6.col-sm-offset-3
								input.form-control(name="password" ,type="password",placeholder="Password" required)
						input.btn.btn-success.btn-lg(type="submit" value="Login")
					hr
					h3 Don't have an account ?
					a.btn.btn-primary.btn-lg(href='/signup/emp') Register as an employee *
					br
					br
					a.btn.btn-primary.btn-lg(href='/signup/admin') Register as a company admin
					br
					br
					p *Company key required to register as an employee
								
